<div class="wordAdding">
  <div class="word">
  <img mat-card-image src ="https://i.imgur.com/vOxKGi8.png" alt="polska flaga">
    <mat-form-field>
      <input matInput placeholder="Słowo w języku polskim">
    </mat-form-field>
  </div>
  <img mat-card-image src ="https://i.imgur.com/U6xg9vF.png" alt="zamiana">

  <div class="key">
  <img mat-card-image src ="https://i.imgur.com/U28J2GT.png" alt="angielka flaga">
    <mat-form-field>
    <input matInput placeholder="Słowo w języku angielskim">
  </mat-form-field>
  </div>

</div>
