.sidebar {
  width: 180px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -5px;
  height: 100%;
  background: bisque;
}
.logo {
  margin: 20px auto;
  width: 120px;
  display: block;

}

.mat-button {
  width: 100%;

}


